table{ 
    border-collapse: collapse; 
    border-spacing: 15px;
    width: 100%;
    border: 1px solid black; 
} 

th { 
    padding: 7px;

    background-color: #4287f5; 
    color: white; 
    text-align: center; 
    border: 1px solid black;
} 

td {
    padding: 5px;
    border-right: 1px solid black;
}

tr {
    height: 40px;
}

tr:hover {
    background-color: #2d5faf; 
    color: white; 
}

th,td{ 
    /* width: 25%; */
}

button {
    display: block;
    margin: auto;
}
